.container-flex {
	//background-color: orange;
	margin: 0 auto;
	max-width: 1458px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@media (max-width: 1490px) {
		margin: 0 15px;
	}
	.item {
		border: 2px solid $verde;
		border-radius: 15px;
		flex-basis: calc(50% - 5px);
		margin-bottom: 10px;
		@media (max-width: 767px) {
			flex-basis: 100%;
			&.doble>div {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		img {
			border-radius: 13px;
		}
		&.full {
			flex-basis: 100%;
		}
		.boton {
			//background-color: red;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: flex-start;
			z-index: 10;
			p {
				flex-basis: 100%;
				text-align: center;
				color: $azul;
				//text-shadow: -1px 2px 4px  $azul;
				text-shadow: 0px 1px 2px black;
				font-size: 1.1em;
			}
			a {
				align-self: flex-end;
				margin-bottom: 15px;
			}
		}
		a {
			display: inline-block;
			background-color: #CACACA;
			border-radius: 15px;
			color: black;
			text-decoration: none;
			padding: 4px 14px 6px 14px;
			transition: $transition;
			&:hover {
				background-color: #545454;
				color: white;
			}
		}
	}
	.doble {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: none;
		>div {
			border: 2px solid $verde;
			border-radius: 15px;
		}
	}
}