@import 'normalize';
@import 'bootstrap';

#window-resizer-tooltip {
   display: block!important;
   opacity: 1!important;
}

//$verde: #2B4228;
$verde: #314528;
$azul: #4D9BC5;
$transition: .5s ease all;

img {
  max-width: 100%;
}

body {
  background-color: $verde;
}

.container {
  //height: 100vh;
  background-color: white;
  overflow: hidden;
  position: relative;
  //background-color: red;
}

header>.container:first-child {
  text-align: center;
  @media (min-width: 420px) {
    text-align: initial;
  }
}

.logo-head {
  width: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.social {
  display: block;
  margin: auto;
  text-align: center;
  a {
    display: inline-block;
    margin-right: 15px;
    color: $verde;
    width: 43px;
    height: 43px;
    overflow: hidden;
    transition: $transition;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: .7;
    }
  }
  @media (min-width: 420px) {
    position: absolute;
    right: 0;
    bottom: 15px;
    a {
      margin-right: 15px!important;
    }
  }
  i {
    font-size: 2.8em;
    margin-left: 2px;
  }
  .redondo {
    color: white;
    background-color: $verde;
    border-radius: 50%;
    i {
      font-size: 1.8em;
      margin-top: 9px;
    }
  }
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0 0 15px 0;
  padding: 0;
  li>a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    width: 100%;
    transition: $transition;
    &:hover {
      color: white;
      background-color: $verde;
    }
  }
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  article {
    border: 2px solid $verde;
    //height: 300px;
    border-radius: 15px;
    margin-bottom: 15px;
    img {
      margin-bottom: -4px;
      //margin-top: -1px;
    }
    a {
      display: inline-block;
      background-color: #CACACA;
      border-radius: 15px;
      color: black;
      text-decoration: none;
      padding: 4px 14px 6px 14px;
      transition: $transition;
      &:hover {
        background-color: #545454;
        color: white;
      }
    }
  }
  .item-half {
    width: 100%;
    position: relative;
    @media (min-width: 768px) {
      width: 49%;
    }
    &.doble {
      border: none;
      >div {
        border-radius: 15px;
        //margin-bottom: 15px;
        border: 2px solid $verde;
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }
  .item-full {
    width: 100%;
  }
}
.calidad-edu {
  display: flex;
  align-items: center;
  .img {
    width: 65%;
    display: inline-block;
    img {
      border-radius: 13px 0 0 13px;
      width: 100%;
    }
  }
  .txt {
    display: inline-block;
    width: 35%;
    overflow: hidden;
    text-align: center;
    //padding: 0 5px;
    h2, p, a {
      font-size: 14px;
      @media (min-width: 420px) {
        font-size: 16px;
      }
    }
    p {
      margin: .5em;
    }
    h2 {
      color: $azul;
    }
  }
}
.eata-virtual {
  position: relative;
  img {
    border-radius: 13px;
  }
  >div {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15px;
  }
}
.fixedratio {
  padding-top: 95.5%;
  //display: block;
  margin: 0;
  //background-color: #eee;
  //border: 1px solid #999;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  @media (min-width: 768px) {
    padding-top: 112%;
    background-position: 30% 50%;
  }
}
.ninos-feliz{
  .fixedratio {
    background-image: url('../img/post-3.jpg');
    &:hover {
      background-image: url('../img/post-3-hover.jpg');
    }
  }
  a {
    position: absolute;
    right: 80px;
    bottom: 10px;
    &:hover + .fixedratio {
      background-image: url('../img/post-3-hover.jpg');
    }
  }
}
.medicion {
  .fixedratio {
    background-image: url('../img/post-4.jpg');
  }
  a {
    position: absolute;
    right: 24px;
    bottom: 45px;
    @media (min-width: 768px) {
      bottom: 70px;
    }
  }
}
.talento {
  position: relative;
  //padding-bottom: 1px;
  @media (min-width: 768px) {
    margin-bottom: 20px!important;
  }
  @media (min-width: 992px) {
    margin-bottom: 25px!important;
  }
  @media (min-width: 1200px) {
    margin-bottom: 30px!important;
  }
  img {
    border-radius: 13px;
    width: 100%
  }
  p {
    position: absolute;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
    color: $azul;
    left: 0;
    right: 0;
    @media (min-width: 420px) {
      font-size: 16px;
      margin: 15px;
    }
    @media (min-width: 768px) {
      margin: 10px 15px;
    }
  }
  a {
    position: absolute;
    bottom: 5px;
    right: 35%;
    right: calc(50% - 45.22px);
    @media (min-width: 1200px) {
      bottom: 10px;
    }
  }
}
.coaching {
  position: relative;
  //padding-bottom: 1px;
  img {
    border-radius: 13px;
    width: 100%
  }
  h2 {
    position: absolute;
    color: $azul;
    right: 0;
    margin: 10px 15px;
    @media (min-width: 420px) {
      right: 30px;
    }
    @media (min-width: 1200px) {
      top: 15px;
    }
  }
  a {
    position: absolute;
    right: 35%;
    right: calc(50% - 55px);
    top: 45px;
    @media (min-width: 1200px) {
      top: 70px;
    }
  }
}
/*
@media (min-width: 420px) {
  .contenido {
    background-color: yellow;
  }
}
@media (min-width: 768px) {
  .contenido {
    background-color: peru;
  }
}
@media (min-width: 992px) {
  .contenido {
    background-color: red;
  }
}
@media (min-width: 1200px) {
  .contenido {
    background-color: black;
  }
}*/