doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="shortcut icon", href="favicon.ico")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
		link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/index.css")
		title EATA
	body
		header
			div.container
				img.logo-head(src="img/logo-2.jpg", alt="logo")
				div.social
					a.redondo(href="https://www.facebook.com/FUNDACIONEATAECUADOR/", target="_blank"): i.fa.fa-facebook(aria-hidden="true")
					a.redondo(href="https://twitter.com/", target="_blank"): i.fa.fa-twitter(aria-hidden="true")
					a(href="https://www.youtube.com/channel/UCU1vY0-DRGddaNqtnAibsnA", target="_blank"): i.fa.fa-youtube-square(aria-hidden="true")
					a(href="https://www.instagram.com/", target="_blank"): i.fa.fa-instagram(aria-hidden="true")
			div.container
				nav
					a#menu(href="#")
						i.fa.fa-bars(aria-hidden="true")
						p MENU
					ul
						li: a(href="#") INICIO
						li: a(href="#") PRODUCTOS / SERVICIOS
						li: a(href="#") CONTÁCTENOS
						li: a(href="#") NUESTRAS TRIBUS
		//img(src="http://lorempixel.com/724/691/people/1", alt="")
		.container-flex
			.item.doble
				.calidad-educativa
					.img: img(src="img/post-1.jpg", alt="")
					.txt
						h2 CAPACITACIÓN
						p Auditoría y Asersoría a la Calidad Educativa
						a(href="#") Leer mas
				.eata-virtual
					img(src="img/post-2.jpg", alt="")
					.boton
						a(href="#") Leer mas
			.item.ninos-felices
				img#normal(src="img/post-3.jpg", alt="")
				img#hover(src="img/post-3-hover.jpg", alt="")
				.boton
					a(href="#") Leer mas
			.item.medicion
				img(src="img/post-4.jpg", alt="")
				.boton
					a(href="#") Leer mas
			.item.doble
				.talento
					img(src="img/post-5.jpg", alt="")
					.boton
						p DESARROLLO DEL TALENTO EN LAS ORGANIZACIONES PÚBLICAS Y PRIVADAS
						a(href="#") Leer mas
				.coaching
					img(src="img/post-6.jpg", alt="")
					.boton
						p COACHING PARA ADOLECENTES
						a(href="#") Leer mas
			.item.full.siga
				div.img
					img(src="img/post-7.jpg", alt="SIGA")
				div.txt
					img(src="img/logo-3.png", alt="SIGA logo")
					h2 Gestión del Aprendizaje
					p El reto para los docentes es achicar la brecha tecnológica existente. La Plataforma SIGA permite la utilización de Tecnología de una forma simple.
					a(href="#") Leer mas
		footer
			div.container
				div.footer
					.footer-item
						.titulo Sobre EATA
						br
						.content
							|Misión, Visión
							br
							|Valor Empresarial
							a(href="#") > ver más ...
					.footer-item
						.titulo Valor
						br
						.content
							|Responsabilidad Social
							br
							|Fundación Eata
							a(href="#") > ver más ...
					.footer-item
						.titulo Redes Sociales
						br
						.content
							|Facebook
							br
							|Twitter
							br
							|YouTube
							br
							|Linkedin
							a(href="#") > ver más ...
				h3 Copyright © 2016 EATA
		//Cargando jQuery
		script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
		script(src="js/index.js")
