doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="css/index.css")
    title EATA
  body
    header
      div.container
        img.logo-head(src="img/logo-2.jpg", alt="logo")
        div.social
          a.redondo(href="https://www.facebook.com/FUNDACIONEATAECUADOR/", target="_blank"): i.fa.fa-facebook(aria-hidden="true")
          a.redondo(href="https://twitter.com/", target="_blank"): i.fa.fa-twitter(aria-hidden="true")
          a(href="https://www.youtube.com/channel/UCU1vY0-DRGddaNqtnAibsnA", target="_blank"): i.fa.fa-youtube-square(aria-hidden="true")
          a(href="https://www.instagram.com/", target="_blank"): i.fa.fa-instagram(aria-hidden="true")
      div.container
        nav
          ul
            li: a(href="#") INICIO
            li: a(href="#") PRODUCTOS / SERVICIOS
            li: a(href="#") CONTÁCTENOS
            li: a(href="#") NUESTRAS TRIBUS
    section.contenido.container
      article.item-half.doble
        div.calidad-edu
          div.img
            img(src="img/post-1.jpg", alt="Calidad educativa")
          div.txt
            h2 CAPACITACIÓN
            p Auditoría y Asersoría a la Calidad Educativa
            a(href="#") Leer mas
        div.eata-virtual
          img(src="img/post-2.jpg", alt="Eata Virtual")
          div
            a(href="#") Leer mas
      article.item-half.ninos-feliz
        a(href="#") Leer mas
        figure.fixedratio
      article.item-half.medicion
        a(href="#") Leer mas
        figure.fixedratio
      article.item-half.doble
        div.talento
          p DESARROLLO DEL TALENTO EN LAS ORGANIZACIONES PÚBLICAS Y PRIVADAS
          img(src="img/post-5.jpg", alt="Calidad educativa")
          a(href="#") Leer mas
        div.coaching
          h2 COACHING
          img(src="img/post-6.jpg", alt="Calidad educativa")
          a(href="#") Leer mas
      article.item-full
    //Cargando jQuery
    script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")



